# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
.ycm_extra_conf.py
.ycm_extra_conf.pyc
Makefile
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
m4/
senmqd
src/.deps/
src/.dirstamp
src/config.h
src/config.h.in
src/git_version.h
src/senmqd-log.o
src/senmqd-main.o
src/stamp-h1

